p {
    color: red;
    text-align: center;
    box-shadow: inset 3px 4px 5px #994;
    width: 50%;
    margin: 
    5%;
    padding: 3%;
  } 
  h1{
      text-align: center;
      box-shadow: inset 5px 4px 6px ;
      width: 50%;
      margin: 5%;
  }